<div class="card">
  <div class="card-header">
    Formulario de Contacto
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Correo contacto</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="correo@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre de contacto</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Nombre completo">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Numero de contacto</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="323564586">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Solicitud de formulario</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </form>
  </div>
</div>
