<div class="card">
  <div class="card-header">
    Formulario de Contacto
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSave()" [formGroup]="contactForm">
      <div class="form-group">
        <label>Correo contacto</label>
        <input type="text" class="form-control" id="email" placeholder="correo@example.com" formControlName="email">
      </div>
      <div class="form-group">
        <label>Nombre de contacto</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombre completo" formControlName="nombre">
      </div>
      <div class="form-group">
        <label>Numero de contacto</label>
        <input type="text" class="form-control" id="numeroCel" placeholder="3128040530" formControlName="numeroCel">
      </div>
      <div class="form-group">
        <label>Mensaje</label>
        <textarea class="form-control" id="mensaje" rows="3"  formControlName="mensaje"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>
