<!DOCTYPE html>
<html ng-app="AngularGoogleMap" >
    <head>
        <meta charset="utf-8"/>
        <title>AngularJS / Google Maps Tutorial</title>
        <!-- AngularJS -->
        <script src="js/lib/angularjs.min.js?v=1.2.26"></script>

        <!-- Google Maps -->
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

        <!-- angular-google-maps -->
        <script src="js/lib/lodash.underscore.min.js?v=2.4.1"></script>
        <script src="js/lib/angular-google-maps.min.js?v=1.2.2"></script>

        <!-- Custom angular module -->
        <script src="js/map-module.js"></script>
        <style>
            .angular-google-map-container {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
        </style>
    </head>
    <body ng-controller="MapCtrl">
      <!--
    <google-map center="map.center"
    			zoom="map.zoom"
    			draggable="true"
    			options="map.options"
    			control="map.control">
		<marker coords="marker.coords" options="marker.options" idkey="marker.id" ></marker>
    </google-map>-->
</body>
</html>

